html,
body {
    height: 100%;
    scroll-behavior: smooth;
}

main {
    min-height: 100%;
}

#k-solutions {
    height: 100%;
}

.css-kmnvkl-MuiPaper-root-MuiDialog-paper {
    border-radius: 33px !important;
}
